**/rdbm
**/*.license
/lib-licenses.txt
/rdbm-unix-latest.tar.gz
**/*.out
**/*.out.*
**/*.org.*
/examples/sp/R1__sp.sql
/examples/etl/D1__test_schema_test_copy.csv
/examples/*/bashrc
/examples/*/bashsrc
